<div class="fixed-action-btn">
    <div style="text-align:right"><a href="/quotes/add" class="btn-floating btn-large waves-effect waves-light red">
    <i class="fas fa-plus"></i>
    </a></div>
    <div><u>Please be patient and give some <br>time for the background to load</u></div>
</div>