<div class="col s12 m4"></div>
<div class="col s12 m4" style="text-align:center">


    <div class="login-pos">
        <h3>
            <span class="material-symbols-outlined">format_quote</span>
            <br>
            QuotesHub
        </h3>
        <div>
            <p class="lead">
                Write/Find great quotes
            </p>
        </div>
        <div class="divider">

        </div>
        <div class="section">
            <a href="/auth/google" class="btn red darken-1">
                <i class="fab fa-google left"></i>
                Log In With Google
            </a>
        </div>
    </div>
</div>